---
layout: default
---
<div class="crossfade">
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
    <figure></figure>
</div>
<div class="home">

    <div id="main-new" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>

    {% comment %}
        {% include blog/blog.liquid %}
    {% endcomment %}
</div>
